@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 43, 43);
    color: rgb(194, 192, 192);
    font-family: sans-serif;
}

main {
    height: 1080px;
}

#secound {
    height: 1080px;
}

article {
    height: 1080px;
}

#last {
    height: 1080px;
}