@charset "utf-8";

@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-color: #0a0a0a;
        font: normal 1rem sans-serif;
        color: white;
        width: 360px;
    }
    
    #first {
        background-image: url('../images/codePortrait.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 740px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font: 800 3rem sans-serif;
        padding-left: 20px;
    }
    
    #first > span {
        font: 300 1rem sans-serif;
        border-right: 2px solid rgb(173, 173, 173);
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        animation: cursor 1s step-end infinite, typing 8s steps(31)infinite;
    }
    
    @keyframes cursor {
        50% {
            border-right: transparent;
        }
    }
    
    @keyframes typing {
        5% {
            width: 0;
        }
        20% {
            width: 31ch;
        }
    
        80% {
            width: 31ch;
        }
    
        95% {
            width: 0;
        }
    }
    
    .standart {
        height: 740px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: auto;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .container {
        margin-top: 20px;
        font-size: .8rem;
    }
    
    .topico {
        margin: 15px 0 5px 5px;
    }
    
    .desc {
        margin: 0 0 5px 50px;
    }
    
    .num {
        padding-right: 15px;
        font: bolder 1.4rem cursive;
        color: rgb(131, 130, 130);
    }
    
    #phrase {
        padding: 20px;
    }
    
    #phrase > p {
        width: 320px;
        font-family: cursive;
        font-size: 0.7rem;
        font-weight: lighter;
        text-align: end;
    }
    
    #last {
        flex-direction: column-reverse;
    }
    
    #dados {
        margin-top: 30px;
    }
    
    .titulo {
        margin-top: 10px;
        font: bolder 1.2rem cursive;
    }
    
    .info {
        margin-top: 5px;
        font: caption 1rem Arial;
    }
}